<h1><p class="text-warning">Listing profiles</p> <small>hello<small></h1>

<table>
  <thead>
    <tr>

      <th>Name</th>
      <th>Avatar</th>
 
    </tr>
  </thead>

  <tbody>
    <% @profiles.each do |profile| %>
 <tr>
        <td><%= profile.id %></td>
        <td><%= link_to 'Show', profile_path(profile.id) %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data:{ confirm:'本当に削除していいですか？'}%></td>
      </tr>
      <tr>
        <td><%= profile.name %></td>
        <td><%= profile.avatar %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<%= link_to 'New Profile', new_profile_path %>
