<h1>New profile</h1>

<%= form_for(@profile) do |f| %>
  <h3><%= f.label :name %></h3>
  <%= f.text_field :name, class: "form-control" %>

  <h3><%= f.label :avatar %></h3>
  <%= f.text_field :avatar, class: "form-control"%>


  <br>
  <%= f.submit "Create Profile", :class=> "btn btn-success" %>
<% end %>
